@font-face {
    src: url('../fonts/HSDream-Regular.otf');
}

.container{
	-fx-background-color:#FBFBFB;
	-fx-font-family: 'HSDream-Regular';
	
}
.bar-top{
	-fx-background-color:#ffffff;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-font-family: 'HSDream-Regular';
}
.font-hs-dream{
	-fx-font-family: 'HSDream-Regular';
}
.number-list{
	-fx-font-family: 'HSDream-Regular';
}
.number-of-list{
	-fx-font-family: 'HSDream-Regular';
}
.add-new-item,.add-product-factory,.more-button-products, .add-product-all, .add-picture-food, .confirm_order{
	-fx-background-color:#42B3C5;
	-fx-font-family: 'HSDream-Regular';
	-fx-border-radius:3;
}
.add-product-all:hover{
	-fx-font-size:14;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.add-new-item icon{
	-fx-font-size:20;
	-fx-font-family: 'HSDream-Regular';
}
.add-product-factory:hover{
	-fx-font-size:13;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.more-button-products:hover{
	-fx-font-size:13;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';	
}
.confirm_order:hover{
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';	
	-fx-font-size:14;
}

.more-button{
	-fx-background-color:#ffffff;
	-fx-font-family: 'HSDream-Regular';
    -fx-background-radius:0;
    -fx-border-color:#D5D5D5;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:3;
}
.add-new-item:hover{
	-fx-font-size:16;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.more-button:hover{
	-fx-font-size:16;
	-fx-background-color:#FBFBFB;
	-fx-font-family: 'HSDream-Regular';
}

.save-button,.save-button-small{
	-fx-background-color:#42B3C5;
	-fx-font-family: 'HSDream-Regular';
	-fx-font-family: 'HSDream-Regular';
}
.add-product{
	-fx-background-color:#42B3C5;
	-fx-font-family: 'HSDream-Regular';
}

.save-button-small:hover{
	-fx-font-size:13;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.add-product:hover{
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.cancle-button,.cancle-button-small{
	-fx-background-color:#818181;
	-fx-font-family: 'HSDream-Regular';
	-fx-font-family: 'HSDream-Regular';
}
.cancle-button-small:hover{
	-fx-font-size:13;
	-fx-background-color:#989898;
	-fx-font-family: 'HSDream-Regular';
}
.printer-button,.remove-product-from-factory,.printer-button-small, .remove-picture-food{
	-fx-background-color:#EE3D48;
	-fx-font-family: 'HSDream-Regular';
	-fx-font-family: 'HSDream-Regular';
}
.printer-button-small:hover{
	-fx-font-size:13;
	-fx-background-color:#E2323D;
	-fx-font-family: 'HSDream-Regular';
}
.remove-product-from-factory:hover{
	-fx-font-size:13;
	-fx-background-color:#E2323D;
	-fx-font-family: 'HSDream-Regular';
	
}
.extract-button, .all-jobs{
	-fx-background-color:#FBFBFB;
	-fx-font-family: 'HSDream-Regular';
	-fx-border-color:#D5D5D5;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:3;
	-fx-font-family: 'HSDream-Regular';
}
.all-jobs:hover{
	-fx-font-size:14;
	-fx-background-color:#F3F3F3;
	-fx-font-family: 'HSDream-Regular';
}

.save-button:hover{
	-fx-font-size:14;
	-fx-background-color:#3DAABB;
	-fx-font-family: 'HSDream-Regular';
}
.cancle-button:hover{
	-fx-font-size:15;
	-fx-background-color:#989898;
	-fx-font-family: 'HSDream-Regular';
}
.printer-button:hover{
	-fx-font-size:15;
	-fx-background-color:#E2323D;
	-fx-font-family: 'HSDream-Regular';
}

.extract-button:hover{
	-fx-font-size:12;
	-fx-background-color:#F3F3F3;
	-fx-font-family: 'HSDream-Regular';
}
.table{
	-fx-background-color:#ffffff;
	-fx-border-color:#ffffff;
	-fx-font-family: 'HSDream-Regular';
}

.search-input{
	-fx-border-color:#D5D5D5;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:3;
	-fx-background-color: #ffffff;
	-fx-font-family: 'HSDream-Regular';
}
.sorted-by{
	-fx-font-family: 'HSDream-Regular';
}

.username, .role{
	-fx-font-family: 'HSDream-Regular';
}

.btn-menu{
	-fx-background-color:transaprent;
	-fx-font-family: 'HSDream-Regular';
	-fx-text-fill:#ffffff;
	-fx-font-size:18;
	-fx-font-family: 'HSDream-Regular';
	-fx-cursor:hand;
}
.parent-menu-item{
	-fx-opacity:0.85;
	-fx-font-family: 'HSDream-Regular';
}
.parent-menu-item:hover,.parent-menu-item-active{
	-fx-opacity:1;
	-tx-transition:0.6 ease-in-out;
	-fx-font-family: 'HSDream-Regular';
}	
.image-menu{
	-fx-border-color:#ffffff;
    -fx-border-width: 3;
	-fx-border-radius:70;
	-fx-background-insets:0;
	-fx-background-style:dotted;
	-fx-font-family: 'HSDream-Regular';
}
.active-item-menu{
	-fx-border-color:#ffffff;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:0 10 10 0;
	-fx-font-family: 'HSDream-Regular';
	
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #ffffff; 
	-fx-font-family: 'HSDream-Regular';
}
.table-view .column-header .label{
   -fx-text-fill: #848484;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-font-family: 'HSDream-Regular';
	-fx-font-size:14;
}

.hover-anchor{
	-fx-hgap: 20px;
    -fx-padding: 40px;
	-fx-font-family: 'HSDream-Regular';
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 20 20 0;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: white;
   
}
.show-all-products{
	-fx-background-color:#FBFBFB;
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:5;
	-fx-border-color:#D4D4D4;
	-fx-font-family: 'HSDream-Regular';
}
.show-all-products:hover{
	-fx-background-color:#F1F1F1;
	-fx-font-family: 'HSDream-Regular';
}

.list-view-products{
	-fx-border-color:white;
	-fx-font-family: 'HSDream-Regular';
}

.add-delete-quantity-product-anchor{
	-fx-background-color:#F8F8F8;
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:0 0 5 5;
	-fx-border-color:#D5D5D5;
	-fx-font-family: 'HSDream-Regular';
}
.select-product-factory{
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:5;
	-fx-border-color:#D5D5D5;
	-fx-font-family: 'HSDream-Regular';
}
.container-table{
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
	-fx-border-radius:5;
	-fx-border-color:#D5D5D5;
	-fx-font-family: 'HSDream-Regular';
}
.pagination-button{
	-fx-background-color: #F2F2F2;
	-fx-font-family: 'HSDream-Regular';
}
.pagination-button:hover{
	-fx-background-color:#E8E8E8;
	-fx-font-family: 'HSDream-Regular';
	
}
.image-close-pop:hover{
	-fx-opacity:1;
	-fx-font-family: 'HSDream-Regular';
}

.select-provider{
	-fx-background-color:#ffffff;
	-fx-font-family: 'HSDream-Regular';
	-fx-border-color: #ddd;
	-fx-border-radius:5;
	-fx-border-width:1;
}

.combo-box-job{
	-fx-font-family: 'HSDream-Regular';
	-fx-background-color:white;
	-fx-border-color: #ddd;
	-fx-border-radius:5;
	-fx-border-width:2;
	
}

.input-popup{
	-fx-prompt-text-fill: #515151;
	-fx-font-family: 'HSDream-Regular';
}
.button-edit-delete{
	-fx-background-color:white;
	-fx-font-family: 'HSDream-Regular';
	-fx-border-color:white;
}

.container-edit-delete{
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 1;
	-fx-border-radius:5;
	-fx-border-color:#D5D5D5;
	-fx-background-color:white;
	-fx-font-family: 'HSDream-Regular';
	
}

.dashboard-item{
	-fx-border-width: 1 1 1 1;
    -fx-background-insets: 1;
	-fx-border-radius:5;
	-fx-border-color:#D5D5D5;
	-fx-background-color:white;
	-fx-font-family: 'HSDream-Regular';
}
.dashboard-item-image-container{
	-fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-color: #4A8E16;
    -fx-background-radius: 40px;
	-fx-font-family: 'HSDream-Regular';
    -fx-border-radius: 40px;
    -fx-border-width: 5px;
    -fx-border-color: 4A8E16;
}
.container-order-food{
    -fx-background-radius: 40px;
	-fx-font-family: 'HSDream-Regular';
    -fx-border-radius: 20px;
	-fx-border-color: #E6E6E6;
    -fx-border-width: 2px;
}